/* Minimalist/Simple: Focusses on the essential text content, using small or
medium-sized sans-serif black text, lines, and few images and icons. */
/* typescale: 
0.694rem 
0.833rem 
1rem - p
1.2rem - h6
1.44rem 
1.728rem 
2.074rem 
2.488rem
2.986rem; */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 62.5%;
}

.background {
  padding: 6rem;
  background-color: #ccd4dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  background-image: url("Images/paperboard-texture.jpg");
  min-height: 65rem;
  max-height: 74rem;
  min-width: 80rem;
  max-width: 90rem;
  flex-grow: 0.5;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 0 3rem;
  color: #1a3f65;
}

/********************************/
/*AIRFRAME border*/
/********************************/

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-image: url("Images/air-frame-x.png");
  background-size: cover;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-image: url("Images/air-frame-x.png");
  background-size: cover;
}

.card .air-frame-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  background-image: url("Images/air-frame-y.png");
  background-size: cover;
}

.card .air-frame-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background-image: url("Images/air-frame-y.png");
  background-size: cover;
}

/* left part of the card */

.summary-container {
  background-color: transparent;
  height: 90%;
  width: 90%;
  margin-right: 1.5rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
}

.summary-gap__container {
  position: relative;
  padding: 0.5rem;
  background-color: #ccd4dd;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

/* spinner axis */
.axis-line {
  top: 0;
  height: 100%;
  position: absolute;
  width: 50%;
  border-right: 2px solid black;
  z-index: 1;
  transform: translateX(-2px);
}

.flipped-card__summary {
  position: relative;
  background-color: transparent;
  height: 100%;
  z-index: 2;

  perspective: 100rem;
}
.flipped-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flipped-card__summary:hover .flipped-card__inner {
  transform: rotateY(180deg);
}

.flipped-card__back,
.flipped-card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipped-card__front {
  padding: 0.5rem;
  border: 1px solid black;
  background-image: url("Images/paperboard-texture.jpg");
}
.flipped-card__back {
  padding: 0.5rem;
  border: 1px solid black;
  background-image: url("Images/paperboard-texture.jpg");
  transform: rotateY(180deg);
}
/***********/
/* right part of the card */

.info_card {
  height: 90%;
  width: 90%;
  margin-left: 1.5rem;
  font-size: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-container {
  align-self: center;
}

.header-container h1 {
  font-size: 2.5rem;
}

.header-container div {
  font-size: 1rem;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  min-height: 12rem;
  max-width: 12rem;
  max-height: 12rem;
}

.avatar-container img {
  height: 100%;
  width: 100%;
  transform: rotate(0.02turn);
}

.skills {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 3rem;
}
.skills h2 {
  font-size: 1.7rem;
}
.skills h4 {
  font-size: 1rem;
}

.tech-stack {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.tech-stack__list {
  font-size: 0.7rem;
  padding: 0;
  list-style: none;
}
.tech-stack__list ul {
  /* padding: 0; */
  list-style: none;
}
