:root {
  --primary-color: #1a3f65;
  --secondary-color: #ccd4dd;
  --shadow: -1px 10px 39px -5px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 62.5%;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  font-size: 110%;
}
.background {
  padding: 6rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  background-image: url("images/paperboard-texture.jpg");
  min-width: 90rem;
  min-height: 73rem;
  max-height: 73rem;
  aspect-ratio: 90 / 74;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 0 3rem;
  color: var(--primary-color);
  margin: 0 auto;
  --webkit-box-shadow: var(--shadow);
  --moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.post-message-left {
  position: absolute;
  top: 1rem;
  left: 20%;
  font-size: 1rem;
  font-weight: bold;
}
.post-message-right {
  position: absolute;
  top: 1rem;
  right: 30%;
  font-size: 1rem;
  font-weight: bold;
}
/********************************/
/*AIRFRAME border*/
/********************************/

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-image: url("images/air-frame-x.png");
  background-size: cover;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-image: url("images/air-frame-x.png");
  background-size: cover;
}

.card .air-frame-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  background-image: url("images/air-frame-y.png");
  background-size: cover;
}

.card .air-frame-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background-image: url("images/air-frame-y.png");
  background-size: cover;
}

/* left part of the card */

.summary-container {
  flex: 1;
  background-color: transparent;
  height: 90%;
  width: 90%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.2rem;
}

.summary-container a {
  text-decoration: none;
  color: var(--primary-color);
}
.summary-gap__container {
  position: relative;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

/* spinner axis */
.axis-line {
  top: 0;
  height: 100%;
  position: absolute;
  width: 50%;
  border-right: 2px solid black;
  z-index: 1;
  transform: translateX(-2px);
}

/*****************************/
/******FLIPPED SUMMARY *********/
/*****************************/

.flipped-card__summary {
  position: relative;
  background-color: transparent;
  height: 100%;
  z-index: 2;

  perspective: 100rem;
}
.flipped-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flipped-card__inner-turn {
  transform: rotateY(180deg);
}

.flipped-card__back,
.flipped-card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipped-card__front {
  padding: 0.5rem;
  background-image: url("images/paperboard-texture.jpg");
  --webkit-box-shadow: var(--shadow);
  --moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}
.flipped-card__back {
  padding: 0.5rem;
  background-image: url("images/paperboard-texture.jpg");
  transform: rotateY(180deg);
  --webkit-box-shadow: var(--shadow);
  --moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

/*************************/
/*******Articles style **********/
/*************************/

.about-me {
  padding-left: 0.5rem;
}

.education {
  padding-left: 0.5rem;
}
.education li {
  list-style: none;
}
.education li > ul > li {
  list-style: circle;
}

/*****************************/
/******DOG EARED BUTTON *********/
/*****************************/
.right-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Folded corner effect */
.right-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: transparent #bfc3cc transparent transparent;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.left-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.dog-eared-button {
  padding: 1rem 1rem;
  background-image: url("images/paperboard-texture.jpg");
  border: none;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dog-eared-button:hover {
  opacity: 1;
}

.dog-eared-button:hover::before {
  transform: translate(5px);
}

.left-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #bfc3cc;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.left-button:hover::before {
  transform: translate(-5px);
}

.arrow {
  position: absolute;
  bottom: -2.2rem;
  right: -1.2rem;
  transform: scale(0.3) rotate(20deg);
}

/***********/
/* right part of the card */
/*********/
.info_card {
  flex: 1;
  height: 90%;
  width: 90%;
  margin-left: 1.5rem;
  font-size: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-container {
  align-self: center;
}

.header-container h1 {
  font-size: 2.5rem;
}

.header-container div {
  font-size: 1rem;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  min-height: 12rem;
  max-width: 12rem;
  max-height: 12rem;
}

.avatar-container img {
  height: 100%;
  width: 100%;
  transform: rotate(0.02turn);
  
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container p {
  margin: 0;
}

.contact img {
  height: 3rem;
  transition: 0.5s;
}
.contact img:hover {
  transform: scale(1.5);
}

.skills {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 3rem;
}
.skills h2 {
  margin: 0;
  font-size: 1.7rem;
}
.skills h4 {
  font-size: 1rem;
}

/*******************************/
/******TECH STACK SKILL STAMPS*******/
/*******************************/

.tech-stak__stamps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  overflow: hidden;
  transition: transform 2s;
}

.tech-stak__stamps div {
  width: 100%;
  will-change: transform;
  transition: transform 0.3s ease-out;
}
.tech-stak__stamps div:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.tech-stak__stamps img {
  width: 100%;
}

.item2 {
  margin-left: -3rem;
}

.item4 {
  margin-top: -3rem;
}
.item5 {
  margin-top: -6rem;
  margin-left: 5rem;
}
.item6 {
  margin-top: -3rem;
  margin-left: -5rem;
}
.item7 {
  margin-top: -8rem;
  margin-left: 9rem;
}
.item8 {
  margin-top: -10rem;
  margin-left: 13rem;
}

.item10 {
  margin-top: -15rem;
}
.item11 {
  margin-top: -15rem;
}
.item12 {
  margin-top: -4rem;
  margin-left: -23rem;
}
.item13 {
  margin-top: -11rem;
  margin-left: 20rem;
}
